header{
    background-color: #d3d3d3;
}

body{
    height: 100%;
}

body > .container {
    padding: 60px 15px 0;
}

.container .text-muted {
    margin: 20px 0;
}

#countor_area{
    float: right;
    margin: -15px 0;
}

#wrapper {
    min-height: calc(100vh - 120px);
}

.footer {
    position: absolute;
    width: 100%;
    height: 60px;
    background-color: #d3d3d3;
}
.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}
